# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite

# Virtual env
.venv/
venv/
env/

# Data
data/raw/

# Models and outputs
models/

# MLflow artifacts
mlruns/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
.env

echo "mlflow.db" >> .gitignore
echo "mlruns/" >> .gitignore